# Local Files
thoughts.txt

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
ENV/

# Jupyter Notebook checkpoints (if applicable)
.ipynb_checkpoints

# PyInstaller
# Usually these files are written to make a standalone executable
dist/
build/
*.spec

# PySide6 UI build artifacts
*.ui
*.qrc
*.pyc

# PySide6 cache files
__pycache__/
*.pyd

# SQLite database files (if applicable)
*.sqlite3
*.db

# Logs and debug
*.log
*.bak
*.swp
*.swo

# System files
.DS_Store
Thumbs.db

# IDE and Editor files
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Test coverage results
htmlcov/
.tox/
.coverage
.cache
.nox/
pytest_cache/
tests/__pycache__/

# Distribution and packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# MyPy type checker reports
.mypy_cache/
dmypy.json
dmypy.json

# Pyright type checker reports
.pyright/

# Local .env file with sensitive information
.env
.env.*
